In [2]:
import pandas as pd

In [3]:
CCTV_Seoul=pd.read_excel('../data/aaaa.xlsx',encoding='utf-8',thousands=',')

In [4]:
CCTV_Seoul.head()

     기관명    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0  강 남 구  5221    1944.0  195.0  316.0    430    546    765    577    448
1  강 동 구  1879     303.0  387.0  134.0     59    144    194    273    385
2  강 북 구  1265     243.0   88.0  141.0     74    145    254      1    319
3  강 서 구  1617     219.0  155.0  118.0    230    187    190    264    254
4  관 악 구  3985     430.0   56.0  419.0    487    609    619    694    671

In [5]:
CCTV_Seoul.columns

Index(['기관명', '소계', '2011년 이전', '2012년', '2013년', '2014년', '2015년', '2016년',
       '2017년', '2018년'],
      dtype='object')

In [6]:
name_split=CCTV_Seoul["기관명"].str.split(" ")

In [7]:
CCTV_Seoul["기관명"]=name_split.str.get(0)+name_split.str.get(1)+name_split.str.get(2)

In [8]:
CCTV_Seoul.head()

   기관명    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0  강남구  5221    1944.0  195.0  316.0    430    546    765    577    448
1  강동구  1879     303.0  387.0  134.0     59    144    194    273    385
2  강북구  1265     243.0   88.0  141.0     74    145    254      1    319
3  강서구  1617     219.0  155.0  118.0    230    187    190    264    254
4  관악구  3985     430.0   56.0  419.0    487    609    619    694    671

In [9]:
CCTV_Seoul.rename(columns={CCTV_Seoul.columns[0]:'구별'},inplace=True)

In [10]:
CCTV_Seoul.head()

    구별    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0  강남구  5221    1944.0  195.0  316.0    430    546    765    577    448
1  강동구  1879     303.0  387.0  134.0     59    144    194    273    385
2  강북구  1265     243.0   88.0  141.0     74    145    254      1    319
3  강서구  1617     219.0  155.0  118.0    230    187    190    264    254
4  관악구  3985     430.0   56.0  419.0    487    609    619    694    671

In [11]:
pop_Seoul=pd.read_csv('../data/report.txt',sep='\t')

In [12]:
pop_Seoul.head()

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2020.2/4,합계,"4,384,076","9,985,652","4,859,501","5,126,151","9,720,846","4,732,275","4,988,571","264,806","127,226","137,580",2.22,"1,534,957"
3,2020.2/4,종로구,"74,497","160,520","77,745","82,775","150,383","73,288","77,095","10,137","4,457","5,680",2.02,"28,203"
4,2020.2/4,중구,"63,354","136,030","66,545","69,485","126,092","61,697","64,395","9,938","4,848","5,090",1.99,"24,035"

In [13]:
pop_Seoul=pd.read_csv('../data/report.txt',sep='\t',header=2,thousands=',')

In [14]:
pop_Seoul.head()

,기간,자치구,세대,계,남자,여자,계.1,남자.1,여자.1,계.2,남자.2,여자.2,세대당인구,65세이상고령자
0,2020.2/4,합계,4384076,9985652,4859501,5126151,9720846,4732275,4988571,264806,127226,137580,2.22,1534957
1,2020.2/4,종로구,74497,160520,77745,82775,150383,73288,77095,10137,4457,5680,2.02,28203
2,2020.2/4,중구,63354,136030,66545,69485,126092,61697,64395,9938,4848,5090,1.99,24035
3,2020.2/4,용산구,111586,245362,119494,125868,229431,110527,118904,15931,8967,6964,2.06,39650
4,2020.2/4,성동구,135937,304851,148554,156297,297397,145258,152139,7454,3296,4158,2.19,45005

In [15]:
pop_Seoul=pop_Seoul[['자치구','계','계.1','계.2','65세이상고령자']]

In [16]:
pop_Seoul.head()

   자치구        계      계.1     계.2  65세이상고령자
0   합계  9985652  9720846  264806   1534957
1  종로구   160520   150383   10137     28203
2   중구   136030   126092    9938     24035
3  용산구   245362   229431   15931     39650
4  성동구   304851   297397    7454     45005

In [17]:
pop_Seoul2=pop_Seoul.drop([0],inplace=True)

In [18]:
pop_Seoul.head()

   자치구       계     계.1    계.2  65세이상고령자
1  종로구  160520  150383  10137     28203
2   중구  136030  126092   9938     24035
3  용산구  245362  229431  15931     39650
4  성동구  304851  297397   7454     45005
5  광진구  363925  349574  14351     49457

In [19]:
pop_Seoul.rename(columns={pop_Seoul.columns[0]:'구별',
                         pop_Seoul.columns[1]:'인구수',
                         pop_Seoul.columns[2]:'한국인',
                         pop_Seoul.columns[3]:'외국인',
                         pop_Seoul.columns[4]:'고령자'},inplace=True)

In [20]:
pop_Seoul.head()

    구별     인구수     한국인    외국인    고령자
1  종로구  160520  150383  10137  28203
2   중구  136030  126092   9938  24035
3  용산구  245362  229431  15931  39650
4  성동구  304851  297397   7454  45005
5  광진구  363925  349574  14351  49457

In [21]:
CCTV_Seoul.head()

    구별    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0  강남구  5221    1944.0  195.0  316.0    430    546    765    577    448
1  강동구  1879     303.0  387.0  134.0     59    144    194    273    385
2  강북구  1265     243.0   88.0  141.0     74    145    254      1    319
3  강서구  1617     219.0  155.0  118.0    230    187    190    264    254
4  관악구  3985     430.0   56.0  419.0    487    609    619    694    671

In [22]:
CCTV_Seoul.sort_values(by='소계',ascending=False).head(5)

     구별    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0   강남구  5221    1944.0  195.0  316.0    430    546    765    577    448
4   관악구  3985     430.0   56.0  419.0    487    609    619    694    671
6   구로구  3227     852.0  219.0  349.0    187    268    326    540    486
16  성북구  3003     779.0   84.0  304.0    241    279    388    285    643
21  은평구  2962    1365.0   83.0   99.0    343    180    296    229    367

In [23]:
CCTV_Seoul['최근증가율']=(CCTV_Seoul['2018년']+CCTV_Seoul['2017년']+CCTV_Seoul['2016년']+CCTV_Seoul['2015년']+CCTV_Seoul['2014년'])/(CCTV_Seoul['2013년']+CCTV_Seoul['2012년']+CCTV_Seoul['2011년 이전'])*100

CCTV_Seoul['최근증가율']=(CCTV_Seoul['2018년']+CCTV_Seoul['2017년']+CCTV_Seoul['2016년']+CCTV_Seoul['2015년']+CCTV_Seoul['2014년'])/(CCTV_Seoul['2013년']+CCTV_Seoul['2012년']+CCTV_Seoul['2011년 이전'])*100

In [24]:
CCTV_Seoul.head()

,구별,소계,2011년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,최근증가율
0,강남구,5221,1944.0,195.0,316.0,430,546,765,577,448,112.668024
1,강동구,1879,303.0,387.0,134.0,59,144,194,273,385,128.033981
2,강북구,1265,243.0,88.0,141.0,74,145,254,1,319,168.008475
3,강서구,1617,219.0,155.0,118.0,230,187,190,264,254,228.658537
4,관악구,3985,430.0,56.0,419.0,487,609,619,694,671,340.331492

In [25]:
CCTV_Seoul.sort_values(by='최근증가율',ascending=False).head(5)

,구별,소계,2011년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,최근증가율
7,금천구,1634,27.0,17.0,242.0,101,382,136,199,530,471.328671
19,NaN,2495,132.0,121.0,206.0,217,366,289,371,793,443.572985
23,중,1544,25.0,165.0,114.0,80,245,270,317,328,407.894737
11,동작구,1780,238.0,93.0,29.0,503,130,254,278,255,394.444444
4,관악구,3985,430.0,56.0,419.0,487,609,619,694,671,340.331492

In [26]:
pop_Seoul.head()

    구별     인구수     한국인    외국인    고령자
1  종로구  160520  150383  10137  28203
2   중구  136030  126092   9938  24035
3  용산구  245362  229431  15931  39650
4  성동구  304851  297397   7454  45005
5  광진구  363925  349574  14351  49457

In [27]:
pop_Seoul['구별'].unique()

array(['종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구',
       '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구',
       '영등포구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구'], dtype=object)

In [28]:
CCTV_Seoul['구별'].unique()

array(['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구',
       '도봉구', nan, '동작구', '마포구', '서초구', '성동구', '성북구', '송파구', '양천구', '용산구',
       '은평구', '종로구', '중', '중랑구'], dtype=object)

In [29]:
CCTV_Seoul[CCTV_Seoul['구별'].isnull()]

,구별,소계,2011년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,최근증가율
10,NaN,2003,NaN,NaN,NaN,1326,111,233,136,197,NaN
13,NaN,2121,565.0,233.0,214.0,114,109,277,415,194,109.584980
19,NaN,2495,132.0,121.0,206.0,217,366,289,371,793,443.572985

In [30]:
CCTV_Seoul.drop([19],inplace=True)

In [31]:
CCTV_Seoul

,구별,소계,2011년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,최근증가율
0,강남구,5221,1944.0,195.0,316.0,430,546,765,577,448,112.668024
1,강동구,1879,303.0,387.0,134.0,59,144,194,273,385,128.033981
2,강북구,1265,243.0,88.0,141.0,74,145,254,1,319,168.008475
3,강서구,1617,219.0,155.0,118.0,230,187,190,264,254,228.658537
4,관악구,3985,430.0,56.0,419.0,487,609,619,694,671,340.331492
5,광진구,1581,470.0,42.0,83.0,87,64,21,468,346,165.714286
6,구로구,3227,852.0,219.0,349.0,187,268,326,540,486,127.253521
7,금천구,1634,27.0,17.0,242.0,101,382,136,199,530,471.328671
8,노원구,1906,481.0,117.0,203.0,80,461,298,110,156,137.952559
9,도봉구,858,197.0,66.0,8.0,185,59,155,117,71,216.605166
10,NaN,2003,NaN,NaN,NaN,1326,111,233,136,197,NaN
11,동작구,1780,238.0,93.0,29.0,503,130,254,278,255,394.444444
12,마포구,1935,585.0,108.0,69.0,70,177,359,372,195,153.937008
13,NaN,2121,565.0,233.0,214.0,114,109,277,415,194,109.584980
14,서초구,2835,1172.0,91.0,228.0,134,215,352,247,396,90.140845
15,성동구,2679,665.0,109.0,118.0,101,258,201,933,294,200.336323
16,성북구,3003,779.0,84.0,304.0,241,279,388,285,643,157.326478
17,송파구,1586,600.0,99.0,88.0,21,166,100,116,396,101.524778
18,양천구,2775,772.0,161.0,185.0,169,172,349,137,830,148.211091
20,용산구,2063,1279.0,152.0,201.0,107,102,89,60,73,26.409314
21,은평구,2962,1365.0,83.0,99.0,343,180,296,229,367,91.467356
22,종로구,1471,8.0,7.0,599.0,132,195,148,281,101,139.576547
23,중,1544,25.0,165.0,114.0,80,245,270,317,328,407.894737
24,중랑구,1068,NaN,NaN,NaN,770,102,121,66,9,NaN

In [32]:
pop_Seoul

      구별     인구수     한국인    외국인    고령자
1    종로구  160520  150383  10137  28203
2     중구  136030  126092   9938  24035
3    용산구  245362  229431  15931  39650
4    성동구  304851  297397   7454  45005
5    광진구  363925  349574  14351  49457
6   동대문구  360380  345593  14787  60817
7    중랑구  399415  394414   5001  67637
8    성북구  452290  441812  10478  72822
9    강북구  315395  311773   3622  62338
10   도봉구  331744  329560   2184  60784
11   노원구  533041  528887   4154  83636
12   은평구  483938  479524   4414  83272
13  서대문구  324224  312720  11504  53468
14   마포구  384957  374390  10567  53694
15   양천구  462034  457953   4081  63824
16   강서구  593203  586936   6267  87032
17   구로구  436707  405075  31632  68280
18   금천구  250554  232250  18304  38950
19  영등포구  405154  373349  31805  60071
20   동작구  406776  395165  11611  64039
21   관악구  516318  499740  16578  77341
22   서초구  433062  428919   4143  59063
23   강남구  546158  541233   4925  73097
24   송파구  678067  671512   6555  90700
25   강동구  461547  457164   4383  67742

In [33]:
pop_Seoul['외국인비율']=pop_Seoul['외국인']/pop_Seoul['인구수']*100

In [34]:
pop_Seoul['고령자비율']=pop_Seoul['고령자']/pop_Seoul['인구수']*100

In [35]:
pop_Seoul.head()

    구별     인구수     한국인    외국인    고령자     외국인비율      고령자비율
1  종로구  160520  150383  10137  28203  6.315101  17.569773
2   중구  136030  126092   9938  24035  7.305741  17.668897
3  용산구  245362  229431  15931  39650  6.492855  16.159797
4  성동구  304851  297397   7454  45005  2.445129  14.762950
5  광진구  363925  349574  14351  49457  3.943395  13.589888

In [36]:
pop_Seoul.sort_values('고령자',ascending=False).head(10)

     구별     인구수     한국인    외국인    고령자     외국인비율      고령자비율
24  송파구  678067  671512   6555  90700  0.966719  13.376259
16  강서구  593203  586936   6267  87032  1.056468  14.671537
11  노원구  533041  528887   4154  83636  0.779302  15.690350
12  은평구  483938  479524   4414  83272  0.912100  17.207163
21  관악구  516318  499740  16578  77341  3.210812  14.979334
23  강남구  546158  541233   4925  73097  0.901754  13.383856
8   성북구  452290  441812  10478  72822  2.316655  16.100732
17  구로구  436707  405075  31632  68280  7.243300  15.635197
25  강동구  461547  457164   4383  67742  0.949632  14.677162
7   중랑구  399415  394414   5001  67637  1.252081  16.934016

In [38]:
pop_Seoul.head()

    구별     인구수     한국인    외국인    고령자     외국인비율      고령자비율
1  종로구  160520  150383  10137  28203  6.315101  17.569773
2   중구  136030  126092   9938  24035  7.305741  17.668897
3  용산구  245362  229431  15931  39650  6.492855  16.159797
4  성동구  304851  297397   7454  45005  2.445129  14.762950
5  광진구  363925  349574  14351  49457  3.943395  13.589888

In [39]:
CCTV_Seoul.head()

,구별,소계,2011년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,최근증가율
0,강남구,5221,1944.0,195.0,316.0,430,546,765,577,448,112.668024
1,강동구,1879,303.0,387.0,134.0,59,144,194,273,385,128.033981
2,강북구,1265,243.0,88.0,141.0,74,145,254,1,319,168.008475
3,강서구,1617,219.0,155.0,118.0,230,187,190,264,254,228.658537
4,관악구,3985,430.0,56.0,419.0,487,609,619,694,671,340.331492

In [40]:
data_result = pd.merge(CCTV_Seoul, pop_Seoul, on='구별')
data_result.head()

,구별,소계,2011년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,최근증가율,인구수,한국인,외국인,고령자,외국인비율,고령자비율
0,강남구,5221,1944.0,195.0,316.0,430,546,765,577,448,112.668024,546158,541233,4925,73097,0.901754,13.383856
1,강동구,1879,303.0,387.0,134.0,59,144,194,273,385,128.033981,461547,457164,4383,67742,0.949632,14.677162
2,강북구,1265,243.0,88.0,141.0,74,145,254,1,319,168.008475,315395,311773,3622,62338,1.148401,19.765057
3,강서구,1617,219.0,155.0,118.0,230,187,190,264,254,228.658537,593203,586936,6267,87032,1.056468,14.671537
4,관악구,3985,430.0,56.0,419.0,487,609,619,694,671,340.331492,516318,499740,16578,77341,3.210812,14.979334

In [41]:
del data_result['2011년 이전']

In [43]:
del data_result['2012년']

In [ ]:
del data_result['2013년']

In [45]:
del data_result['2014년']

In [46]:
del data_result['2015년']

In [47]:
del data_result['2016년']

In [48]:
del data_result['2017년']

In [49]:
del data_result['2018년']

In [50]:
data_result.head()

    구별    소계       최근증가율     인구수     한국인    외국인    고령자     외국인비율      고령자비율
0  강남구  5221  112.668024  546158  541233   4925  73097  0.901754  13.383856
1  강동구  1879  128.033981  461547  457164   4383  67742  0.949632  14.677162
2  강북구  1265  168.008475  315395  311773   3622  62338  1.148401  19.765057
3  강서구  1617  228.658537  593203  586936   6267  87032  1.056468  14.671537
4  관악구  3985  340.331492  516318  499740  16578  77341  3.210812  14.979334

In [51]:
data_result.set_index('구별', inplace=True)
data_result.head()

       소계       최근증가율     인구수     한국인    외국인    고령자     외국인비율      고령자비율
구별
강남구  5221  112.668024  546158  541233   4925  73097  0.901754  13.383856
강동구  1879  128.033981  461547  457164   4383  67742  0.949632  14.677162
강북구  1265  168.008475  315395  311773   3622  62338  1.148401  19.765057
강서구  1617  228.658537  593203  586936   6267  87032  1.056468  14.671537
관악구  3985  340.331492  516318  499740  16578  77341  3.210812  14.979334

In [52]:
import numpy as np

In [53]:
np.corrcoef(data_result['고령자비율'],data_result['소계'])

array([[ 1.        , -0.42693992],
       [-0.42693992,  1.        ]])

In [54]:
np.corrcoef(data_result['외국인비율'],data_result['소계'])

array([[ 1.        , -0.02825644],
       [-0.02825644,  1.        ]])

In [55]:
np.corrcoef(data_result['인구수'],data_result['소계'])

array([[1.        , 0.35419381],
       [0.35419381, 1.        ]])